{{#each data}}
  <div>
    <i class="wi {{ icon }}"></i>
    <p>Date: {{dateString}}</p>
    <p>Summary: {{summary}}</P>
    <p>Min Temperature: {{apparentTemperatureMin}}<sup>&#x2109;</sup></p>
    <p>Max Temperature: {{apparentTemperatureMax}}<sup>&#x2109;</sup></p>
  </div>
{{/each}}
